body {
    font-family: 'Montserrat',
        sans-serif;
    color: #111;
    background-color: #fafafa;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}
 img {
    display: block;
 }

 .container {
     width: 1166px;
     margin: 0 auto;
     padding-left: 15px;
     padding-right: 15px;
 }
/* Header */
.header {
    padding: 24px 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
}

.logo {
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        display: flex;
        gap: 4px;
        margin-right: 365px;
}

.logo-span {
    font-style: italic;
}

.header-nav-item {
    display: flex;
    gap: 24px;
}

.header-nav-item a {
    font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
        display: block;
}

.header-socnetwork {
    display: flex;
    margin-left: auto;
    gap: 14px;
    margin-left: 90px;
}

/* Section1 */

.sect1 {
    background-color: #4C4C4C;
    margin-bottom: 80px;
    border-radius: 30px;
    padding: 381px 40px 40px 40px;
}

.sect1-container {
   
   max-width: 1136px;
}

.sect1-header {
    color: #FFF;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.03em;
        max-width: 484px;
        max-height: 102px;
        margin-bottom: 32px;
}

.sect1-button-container {
    display: flex;
    align-items: center;
}
.sect1-button {
    font-family: inherit;
    background-color: #FD9222;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    margin-right: 14px;
}

.sect1-button:hover, .sect1-button:focus {
    color: #FD9222;
    background-color: #FCF1E0;
}

.sect1-link1 {
    color: #FFF; 
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: transparent;
}

.sect1-link1:hover, .sect1-link1:focus {
    color: #FD9222;
}

.sect1-link2 {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;
    margin-left: auto;
   
}

.sect1-link2:hover,
.sect1-link2:focus {
    color: #FD9222;
}

/* Section2 */

.sect2 {
    background-color: #1E1823;
    padding: 50px 50px;
    margin-bottom: 120px;
}

.sect2-header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sect2-item {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
}

.sect2-item-list {
    width: calc((100% - 176px) / 3);
}

.sect2-item-header {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.sect2-item p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* Section3 */

.sect3 {
    background-color: #FFFFFF;
    padding-bottom: 120px;
}


.sect3-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.sect3-header-span {
    color: #FD9222;
}

.sect3-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.sect3-item {
    padding: 28px 33px;
    border-radius: 15px;
    width: calc((100% - 96px) / 4);
}

.sect3-item:nth-child(4n+1) {
    background-color: #FD9222;
    color:#FFF;
    border: none;
}

.sect3-item:nth-child(2n+2) {
    background-color: #fff;
    color: #111;
    border: 1px solid #FD9222;
}

.sect3-item:nth-child(4n+3) {
    background-color: #1E1823;
    color: #FFF;
}

.sect3-item-header {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 36px;
}

/* Section4 */
.sect4 {
    padding-bottom: 120px;
}


.sect4-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.sect4-header-span {
    color: #FD9222;
}

.sect4-container {
    display: flex;
}

.sect4-cont2 {
    padding: 32px 32px;
    background-color: #FFF;
    border-radius: 15px;
}
.sect4-item-header {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 28px;
    max-width: 350px;
}

.sect4-list-item {
    margin-bottom: 24px;
}

.sect4-list {
}
.sect4-list p {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

/* Section5 */
.sect5 {
    padding-bottom: 120px;
}


.sect5-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.sect5-header-span {
    color: #FD9222;
}

.sect5-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
}

.sect5-list-item {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    width: calc((100% - 54px) / 4);
    padding: 32px 20px;
}

.sect5-item-container {
    margin-top: 8px;
    text-align: center;
}

.sect5-list h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.sect5-list p {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
}

.sect5-list button {
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FAFAFA;
}

/* Section6 */
.sect6 {
    padding-bottom: 120px;
}

.sect6-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.sect6-header-span {
    color: #FD9222;
}

.sect6-list {
    display: flex;
    gap: 16px;
    
}

.sect6-list-item {
    width: calc((100% - 32px) / 3);
}

.sect6-item-header {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
}

/* Section7 */
.chocolate-is-loved {
    padding-bottom: 120px;
}

.sect7-header {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 91px;
}

.sect7-header-span {
    color: #FD9222;
}
.sect7-item {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}
.sect7-item-list {
    background-color: #FFF;
    width: calc((100% - 56px) / 3);
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    padding: 56px 24px 24px 24px;
}

.sect7-list-subtitle {
    margin-bottom: 24px;
}

.sect7-item-list h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.sect7-item-list p {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.sect7-button {
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FD9222;
    background-color: transparent;
    display: block;
    margin: 0 auto;
}

.sect7-button:hover, .sect7-button:focus {
    color: #FFFFFF;
    background-color: #FD9222;
}

/* footer */
.footer {
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 86px;
}
.footer-conteiner-up {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 50px;
    margin-bottom: 24px;
    display: flex;
}

.footer-main-text {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    max-width: 300px;
    margin-right: auto;
}

.footer-main-text-span {
    color: #FD9222;
}

.footer-container-socnetworks {
    margin-right: 50px;
}

.footer-socnetworks {
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.28;
}

.footer-contacts {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    margin-bottom: 14px;
}

.address {
    font-style: inherit;
}

.address-item a {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.footer-address-item {
    margin-bottom: 4px;
}

.footer-nav {
    display: flex;
    gap: 24px;
}

.footer-nav a {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}